@use '../../../assets/scss/themes-vars.module' as *;
.transparent-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease;

  &.hide {
    top: -120px;
  }

  .ribbon {
    background-color: $primaryMain;
    color: white;
    overflow: hidden;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;

    .marquee {
      display: flex;
      width: 100%;
      white-space: nowrap;

      &__inner {
        display: inline-block;
        will-change: transform;
        animation-name: marquee;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;

        // Duration based on screen size
        animation-duration: 10s;

        @media (min-width: 500px) {
          animation-duration: 14s;
        }
        @media (min-width: 850px) {
          animation-duration: 18s;
        }
        @media (min-width: 1200px) {
          animation-duration: 30s;
        }
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    padding: 1rem 2rem;

    &-left {
      display: flex;
      gap: 32px;
      height: 40px;
      justify-content: center;
      align-items: center;

      &-tabs {
        display: flex;
        gap: 16px;
      }
      .button-tabs {
        background-color: transparent;
        // color: white;
        color: $primaryMain;
        font-weight: 600;
        // background-color: $primaryMain;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: $primaryMain;
          color: white;
          border-color: $primaryMain;
        }
      }
    }

    &-right {
      display: flex;
      gap: 8px;
      .login-btn {
        background-color: transparent;
        color: white;
        background-color: $primaryMain;
        border: 1px solid white;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: white;
          color: $primaryMain;
          border-color: $primaryMain;
        }
      }
    }
  }
}

// Keyframes for scrolling animation
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
