@use '../assets/scss/themes-vars.module';
@use 'pages/landingPage/header';
@use 'pages/landingPage/hero';
@use 'pages/landingPage/companyGroup.scss';
@use 'pages/landingPage/siteView.scss';
@use 'pages/landingPage/mainlayoutLandingPage.scss';
@use 'pages/landingPage/landingPageFooter.scss';
@use 'pages/landingPage/industryCapture.scss';

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Regular.otf') format('otf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Bold.otf') format('otf');
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Black.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'International Mono';
  src: url('../assets/fonts/NB-International-Pro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'International Mono';
  src: url('../assets/fonts/NB-International-Pro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'International Mono';
  src: url('../assets/fonts/NB-International-Pro-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
